bin/*
config.cache
config.log
config.status
lib/etc/*
lib/house/*
lib/plrfiles/*
lib/plrobjs/*
lib/plrvars/*
log/*
src/.accepted
src/conf.h
src/depend
src/Makefile
src/*.o
src/util/depend
src/util/Makefile
src/util/*.o
syslog
syslog.CRASH
